{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia de Frutas y Frescos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles3.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'saludito' %}">🏠Home</a></li>
            <li><a href="{% url 'realizar_compra' %}">Realizar Compra</a></li>
            <li><a href="{% url 'ver_comentarios' %}">Comentarios</a></li>
            <li><a href="{% url 'detalles_galletas' %}">Detalles Galletas</a></li>
        </ul>
    </nav>
    <h1>Historia de Frutitas</h1>
    <div class="container">
        <p>Me llamo cristian y soy el orgulloso dueño de Frutitas. Esta tienda tiene una historia arraigada en la tradición familiar que se remonta a varias generaciones. Mi bisabuelo comenzó este negocio con el objetivo de ofrecer a nuestra comunidad las frutas y las más frescas y deliciosas que se puedan encontrar.</p>

        <p>A lo largo de los años, hemos mantenido viva la pasión y el compromiso con la calidad que nos ha distinguido. Sin embargo, con la evolución del tiempo y las nuevas tendencias, nos dimos cuenta de la necesidad de adaptarnos para seguir siendo relevantes en un mundo cada vez más digital.</p>

        <p>Fue entonces cuando decidimos dar un nuevo nombre a nuestra frutería: Frutitas. Queríamos reflejar nuestra dedicación no solo a las frutas, sino también a todos los productos frescos que ofrecemos en nuestra tienda. Este cambio representó una nueva etapa para nosotros, una que nos permitiría mantenernos fieles a nuestras raíces mientras nos adaptamos a las demandas cambiantes del mercado.</p>

        <p>Con el lanzamiento de nuestro sitio web y la implementación de servicios de entrega a domicilio, hemos logrado llevar la experiencia de 'Frutas y Frescos' más allá de las paredes de nuestra tienda física. Ahora, nuestros clientes pueden disfrutar de la misma calidad y frescura que ofrecemos en línea, con la conveniencia de recibir sus productos directamente en sus puertas.</p>

        <p>A pesar de todos estos cambios, una cosa sigue siendo constante: nuestra dedicación a nuestros clientes y a nuestra comunidad. Seguimos comprometidos a brindar un servicio personalizado y amigable a todos los que nos visitan, ya sea en persona o en línea.</p>

        <p>Frutitas no es solo una tienda de comestibles, es un símbolo de nuestra pasión por la alimentación saludable y de calidad. Esperamos seguir siendo un destino confiable para todas las necesidades de productos frescos de nuestra comunidad durante muchos años más.</p>
    </div>
</body>
</html>
</html>